<div class="container"> 
  <center><h2 style="color: blue;">Gamers set</h2></center>
  <div class="row">

    <div class="col-xs-3" style="margin-right: 10px;">
      <div class="sketchfab-embed-wrapper">
        <h3 style="color: orange;"><center>Fnatic mouse</center></h3>
        <iframe title="A 3D model" width="550" height="350" src="https://sketchfab.com/models/bc4cca82d9c54041b669ce5f0d4ced58/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="sketchfab-embed-wrapper">
      <h3 style="color: lime"><center>Fnatic keyboard</center></h3>
        <iframe title="A 3D model" width="550" height="350" src="https://sketchfab.com/models/22a288c2aabf46ca8c76657480f6a2b5/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    </div>

  </div>
</div>



    