<center>
	<font size="15">
		<w style="color: red;">W</w>
		<e style="color: pink;">E</e>
		<l style="color: orange;">L</l>
		<c style="color: yellow;">C</c>
		<o style="color: lime;">O</o>
		<m style="color: green;">M</m>
		<ee style="color: blue;">E</ee>
	</font>
	<font size="5">
		<p>
			<to style="color: gray";>to </to><rails style="color: red;"> Rails Blog</rails>
		</p>
	</font>
</center>